.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 4px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

h2 {
  margin-top: 30px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

input[type="email"],
input[type="password"],
input[type="text"] {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
}
.is-invalid {
  border-color: red;
}

.invalid-feedback {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.disabled-btn {
  cursor:not-allowed !important;
}

button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}


.error {
  color: red;
  font-size: 14px;
}


.social-login {
  margin-top: 20px;
  text-align: center;
}

hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 0;
}

.btn-google {
  background-color: #dd4b39;
  color: white;
  border: none;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-phone {
  background-color: #007bff;
  color: white;
  border: none;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.or-text {
  font-size: 18px;
  margin: 10px 0;
}

.btn-google:hover {
  background-color: #dc4e41;
  border-color: #dc4e41;
  color: white;
}
.horizontal-line {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.line {
  flex-grow: 1;
  height: 1px;
  background-color: #ccc;
}

.or {
  margin: 0 10px;
  color: #555;
}

.forgot-password {
  display: block;
  text-align: right;
  font-size: 14px;
  color: #777;
  text-decoration: none;
}

.forgot-password:hover {
  text-decoration: underline;
  color: #555;
}
